
<div class="container text-center">
  <div class="row">
    <div class="col-8">
      <img class="img" src="../../../../assets/images/retos_denominacion.jpg">
    </div>
    <div class="col-4">
      <div class="contenedor d-flex flex-column justify-content-around">
        <div class="p-2">Puntos que se ganaría: {{puntos}}</div>
        <div class="p-2">Complejidad del Reto: {{nivel}}</div>
        <div class="p-2">Consejo: {{consejo}}</div>
      </div>

    </div>
    <div class="col-8">
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam fugit deleniti ipsa perspiciatis, sunt laudantium modi temporibus excepturi dignissimos quasi cum, nobis sequi totam voluptate nam nesciunt assumenda blanditiis. Iste.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aperiam fugit deleniti ipsa perspiciatis, sunt laudantium modi temporibus excepturi dignissimos quasi cum, nobis sequi totam voluptate nam nesciunt assumenda blanditiis. Iste.</p>
    </div>
    <div class="col-4" id="buttonReto">
      <a routerLink="/application/alumno/programar" class="nav-link">
        <button id="button" type="button" class="btn btn-primary ">Vamos al reto!!!</button>
      </a>
    </div>
  </div>
</div>
