
<div class="main-container d-flex">
  <div class="sidebar" id="side_nav">

    <ul class="list-unstyled px-2">
      <li class="active" style="cursor:pointer;" (click)="dashboard()"><a routerLink="/application/alumno/dashboard" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-home"></i>Dashboard</a></li>
      <li class="" style="cursor:pointer;" (click)="retos()"><a class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-list"></i> Explorar Retos</a></li>
      <li class="" style="cursor:pointer;" (click)="materiales()"><a class="text-decoration-none px-3 py-2 d-block d-flex justify-content-between">
        <span><i class="fal fa-comment"></i>Materiales Educativos</span>
      </a>
    </li>
      <li class="" style="cursor:pointer;" (click)="microAprendizaje()"><a class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-envelope-open-text"></i> MicroAprendizaje</a></li>
      <li class="" style="cursor:pointer;" (click)="programar()"><a class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-users"></i>Programar</a></li>
    </ul>

    <hr class="h-color mx-2">

    <ul class="list-unstyled px-2">
      <li class=""><a href="#" class="text-decoration-none px-3 py-2 d-block"><i class="fal fa-bars"></i>Salir</a></li>
    </ul>
  </div>

  <!-- <div class="content"> -->
    <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->

      <!-- <div class="d-flex justify-content-between d-md-none d-block">
        <button class="btn px-1 py-0 open-btn me-2"><i class="fal fa-stream"></i></button>
          <a class="navbar-brand fs-4" href="#"><span class="bg-dark rounded px-2 py-0 text-while">CL</span></a>
    </div> -->
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <i class="fal fa-bars"></i>
      </button> -->

      <!-- <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Profile <span class="sr-only">(current)</span></a>
          </li>

        </ul>
      </div> -->
    <!-- </nav> -->

    <!-- <div class="dashboard-content px-3 pt-4">
      <h2 class="fs-5">Dashboard</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eligendi rem quam ea animi, eaque veritatis tempore maxime impedit quis aliquid, odit inventore laboriosam quod. Dicta mollitia voluptatum tempora consequuntur.</p>
    </div> -->

  <!-- </div> -->
</div>


<script>
  $(".sidebar ul li").on('click', function(){
    $(".sidebar ul li.active").removeClass('acive');
    $(this).addClass('active');
  });

  $('.open-btn').on('click', function(){
  $('.sidebar').addClass('active');
  });

  $('.close-btn').on('click', function(){
    $('.sidebar').addClass('active');
  });

// $(document).ready(function(){
//       var height = $(window).height();
//       console.log('height: '+height);
//       $('#side_nav').height(height);
// });

</script>
