
.card{
  border-radius: 2rem;
  padding: 0;
}

.card-header{
  border-radius:2rem 2rem 0 0;
}

.card-description{
  background: rgb(167, 160, 160);
  border-radius:0 0 2rem 2rem ;
}

.fondo{
  background: rgb(167, 160, 160);
}

.img{
  background:url("../../../assets/images/portada.png") ;
  background-size:cover;
  background-repeat: no-repeat;
  /*opacity: 0.5;*/
}

.title{
  background:hsla(0, 0%, 100%, 0.507);
  font-weight: bold;
}