
<div class="container">
  <div class="row row-cols-1">
    <h1 class="text-center">Breadcrumbs</h1>
    <hr/> -->
    <!-- Breadcrumns -->
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Teoria de los condicionales</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Ejemplo de aplicación</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Completar concepto</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          Desarrollar Problema
        </li>
      </ol>
    </nav>
  </div>
</div>


<!-- Jquery -->
<!-- <script src="./js/jquery-3.5.0.min.js"></script> -->
<!-- Popper -->
<!-- <script src="./js/popper.min.js"></script> -->
<!-- JS Bootstrap -->
