
<nav class="navbar navbar-light bg-grey">
  <div class="container">
    <div class="d-flex flex-row align-items-center ">
      <a class="navbar-brand nav-link" routerLink="alumno/dashboard">
        <img src="../../../assets/images/login-escudo.png" alt="escudo-elBosque" width="40" height="60">
      </a>
      <h4 >Explorando un mundo de Lógica y técnologia</h4>
      <img  class="ml-5" src="../../../assets/icons/notification.svg" width="30px" height="30px">
      <h5 class="ml-3">¡Hola {{name}} comencemos a aprender !</h5>
    </div>
  </div>
</nav>