
<!-- <script type="text/javascript" src="./app/Elementos/arduino_compressed.js"></script> -->


<script>
function renderContent() {
  //var arduinoTextarea = document.getElementById('content_arduino');
  console.log("el render");
  var arduinoTextarea = document.getElementById('code');
  arduinoTextarea.value = Blockly.Arduino.workspaceToCode();
  arduinoTextarea.focus();
}
</script>

<div class="container" >
  <div class="row app-container" >
    <div id="blocklyDiv"  class="col"></div>
    <textarea id="code" class="col-6">aaaaaaaa</textarea>
  </div>
  <!-- <div class="row">
    <div id="blocklyDiv" class="col-6"></div>
    <div id="code" class="col-6">aaaaaaaa</div>
  </div> -->

</div>