
<div class="container-fluid">
  <div class="row">
    <div class="p-3">
      
      <div class="d-flex justify-content-around align-items-center cabecero p-4">
        <div class="perfil">
          <img src="../../../../assets/icons/Perfil.svg" width="100px">
        </div>
        <div class="datos">
          <div class="d-flex">
            <p class="w-50">{{name}}  {{lastname}}</p>
            <p  class="ml-3">{{grade}} {{section}} </p>
          </div>
          <div class="d-flex">
            <p class="w-50">{{email}}</p>
            <img  class="ml-3" src="../../../../assets/icons/Edit.svg" alt="" width="20px">
            <a href="">Editar Perfil  </a>
          </div>
        </div>
        <div class="d-flex align-items-center elementos">
          <div class="medalla p-4 border border-3">
            <p>Medalla</p>
            <img [src]="alumnos[0].medalla" width="50px" alt="">
          </div>
          <div class="puntos p-4 ">
            <p>Puntos</p>
            <p class="text-center">{{points}}</p>
          </div>
          <div class="logro p-4 border border-3">
            <p>Logros</p>
            <img [src]="alumnos[0].logro" width="50px" alt="">
          </div>
        </div>
      </div>

      <div class="cuerpo mt-5 d-flex justify-content-center">
        <div class="w-75 py-4">
          <app-table class="text-center"></app-table>
          <!--Pagiacion-->
          <div class="mt-3 d-flex justify-content-center">
            <nav aria-label="Page navigation">
              <ul class="pagination">
                <li class="page-item">
                  <a href="#" class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
                <div id="paginas" class="d-flex">
                  <li *ngFor="let g of alumnosTabla;let i=index" class="page-item" [ngClass]="i+1 === pageSelect? 'active':'' "
                  >
                    <button (click)="paginacion(i+1)" class="btn btn-primary page-link">{{i+1}}</button>
                    <!-- <a href="#" class="page-link"> {{i+1}} </a> -->
                  </li>
                </div>
                <li class="page-item">
                  <a href="#" class="page-link" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="d-flex flex-wrap justify-content-evenly">
  <app-card class="card col-sm-6 col-md-5 col-lg-4 p-4 mt-5"></app-card>
  <app-card class="card col-sm-6 col-md-5 col-lg-4 p-4 mt-5"></app-card>
  <app-card class="card col-sm-6 col-md-5 col-lg-4 p-4 mt-5"></app-card>
</div> -->