.cabecero{
  background: #C4C4C4;
}

.ml-3{
  margin-left: 3rem;
}

.elementos{
  background: white;
}


.cuerpo{
  background: rgba(0, 0, 0, 0.25);
}

.desp{
  position: absolute;
  width: 280px;
  height: 450px;
  left: 1275px;
  top: 334px;

  opacity: 0.6;
}

.tooltip {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  opacity: 0.8;
}