
<!-- <script type="text/javascript" src="./app/Elementos/arduino_compressed.js"></script> -->


<!-- <script>
function renderContent() {
  //var arduinoTextarea = document.getElementById('content_arduino');
  console.log("el render");
  var arduinoTextarea = document.getElementById('code');
  arduinoTextarea.value = Blockly.Arduino.workspaceToCode();
  arduinoTextarea.focus();
}
</script> -->

<div class="container mt-2" >
  <div class="row">
    <div class="d-flex justify-content-around mb-2 py-3 options">
      <button class="rounded-pill p-2" (click)="cargarAyuda()"> Dudas? </button>
      <button class="rounded-pill p-2" (click)="uploadClick()"> cargar </button>
      <button class="rounded-pill p-2" (click)="resetClick()"> reset workspace </button>
      <button class="rounded-pill p-2" (click)="saveArduino()"> guardar codigo arduino </button>
      <button class="rounded-pill p-2" (click)="save()"> guardar codigo xml </button>
      <div>
        <label for="load">Cargar codigo xml</label>
        <input (click)="cargar()" class="rounded-pill p-2"  type="file" id="load"/>
      </div>

      <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
        <input (click)="radioBtn($event)" type="radio" class="btn-check" name="btnradio" id="reto" autocomplete="off" >
        <label class="btn btn-outline-primary" for="reto">Reto</label>
      
        <input (click)="radioBtn($event)" type="radio" class="btn-check" name="btnradio" id="codigo" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="codigo">Codigo</label>
      
      </div>

    </div>
    <div class="row mt-2 app-container">
      <div id="ayuda" style="display: none;">
        <h3>AYUDAS</h3>
      </div>
      <div id="blocklyDiv"  class="col-9"></div>
      <textarea  id="code" class="col-3"></textarea>
      <!-- <div id="reto">
        <div class="resultado">

        </div>
        <div class="descripcion">

        </div>
      </div> -->
    </div>

  </div>
  
  <!-- <div class="row">
    <div id="blocklyDiv" class="col-6"></div>
    <div id="code" class="col-6">aaaaaaaa</div>
  </div> -->

</div>